@import 'styles/_vars.scss';
@import 'styles/_general.scss';

.profil-container{
  height: 155px;
  background-color: #f2f2f2;
  text-align: center;

  h2{
    padding-top: 0px;
  }
}

.photo-container{
  display: flex;
  justify-content: center;
  align-items: center;

  .photo-cv{
    margin-top: -60px;
    width: 150px;
    border: solid 7px white;
    border-radius: 50%;
  }
}